<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script  src="https://unpkg.com/jquery@3.4.0/dist/jquery.js"></script>
    <script  src="https://unpkg.com/intercooler@1.2.2/dist/intercooler.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">

{# small hack to fix the messages #}
{% block messages %}
<section class="content"  ic-get-from="{% url "messages" %}" ic-deps="*">
    {% include "_messages.html" %}
</section>
{% endblock messages %}


<div class="columns">
    <div class="column">
    
    

<form action="" method="POST">
    {% csrf_token %} 

    <div id="form-entry">
        {% include "form.html" with form=form1 %}
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary" ic-post-to="{% url 'save_entry'%}" ic-target="#form-entry">  
                Enviar
            </button>    
        </div>
    </div>


</form>


    
    </div>
    <div class="column">

        <form action="" method="POST">
        {% csrf_token %} 

        {% include "form.html" with form=form %}
    
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">
                Enviar
        </button>
        </div>
    </div>
        
</form>
    
    
    </div>
</div>


<h1 class="">Address</h1>

<ul>
{% for a in addresses %}
    <li>
        {{a.id}} - {{a.street}} {{a.entry.name}}
    </li>
{% endfor %}
</ul>


    </div>
  </section>
  </body>
</html>